<nav class="nav flex-column p-3">

    <a class="btn btn-outline-primary mb-2 text-start w-100"
           href="/">
        🏠 Главная
    </a>

    <a class="btn btn-outline-success mb-2 text-start w-100"
           href="/repair-requests">
        🚗 Оценка ремонта ДТП
    </a>

    <a class="btn btn-outline-warning mb-2 text-start w-100"
           href="/prices">
        ⚙️ Админка: прайс ремонта
    </a>

    <a class="btn btn-outline-danger mb-2 text-start w-100"
           href="/login">
        🔐 Вход администратора
    </a>

    <a class="btn mb-2 text-start w-100 text-info"
           href="/ai-estimate"
           style="
        border:1px solid #0dcaf0;
        background-color:transparent;">
        🤖 AI-оценка повреждений
    </a>

</nav>